<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Member">
    <insert id="save" parameterType="member" useGeneratedKeys="true" keyProperty="id">
        insert into member_table(memberEmail, memberPassword, memberName, memberMobile, memberProfileAttached)
        values (#{memberEmail}, #{memberPassword}, #{memberName}, #{memberMobile}, #{memberProfileAttached})
    </insert>

    <insert id="saveFile" parameterType="memberProfile">
        insert into member_profile_table(originalFileName, storedFileName, memberId)
        values (#{originalFileName}, #{storedFileName}, #{memberId})
    </insert>

    <select id="findByMemberEmail" parameterType="member" resultType="member">
        select * from member_table where memberEmail = #{memberEmail}
    </select>

    <select id="login" parameterType="member" resultType="member">
        select * from member_table where memberEmail = #{memberEmail} and memberPassword = #{memberPassword}
    </select>

    <select id="findFile" resultType="memberProfile">
        select * from member_profile_table where memberId = #{id}
    </select>

</mapper>














